.movie {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.movie-image {
  width: 100%;
}

.movie-image > img {
  width: inherit;
  object-fit: cover;
  aspect-ratio: 2/3;
}

.movie-average {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 115px;
  height: 65px;
  position: absolute;
  top: 25px;
  font-size: 2.2rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.8);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 3px solid var(--blue);
  border-left: transparent;
}

.popular-movie {
  border: 3px solid var(--primary);
  border-left: transparent;
}